* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    background: #fff;
    font-family: 'Roboto Slab', serif;
}

header ul li i{
    color: #1da1f2;
    font-size: 20px;
    margin-right: 10px;
}

header ul li {
    color: #66757f;
    font-size: 20px;
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
}

main {
    width: 100%;
    height:800px;
    margin-top: 50px;
   background-image: url('../assets/images/vintage.jpg');
    background-size: cover;
    overflow: auto;
}

form {
    width: 50%;   
    padding-top: 40px;
    margin-top: 20px;
    margin-right: 60px;
    height: 300px;
    background-color: #fff;    
}

form div.textos {
    margin-left: 50px;
    width: 80%;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

form textarea {   
    width: 100%;
    outline: none;
    border: none;
}

form div.contador {
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
}

form div.contador inpunt {
    outline: none;
}


form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 5px;
    border: none;
}


.disabled {
    background-color: #cecfcc;
    color: #bebebe;
}

.button-enabled {
    background-color: #1da1f2;
    color: #fff;
}


#count {
    margin-left: 50px;
    font-family: 'Roboto Slab', serif;
}

section {
    width: 90%;
    height: 300px;
}


section h2 {
    font-family: 'Roboto Slab', serif;
    color: #68f8e2;
    padding: 20px;
}

.container-text {
    background-color: rgba(131, 204, 206, 0.3);
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid rgba(131, 204, 206, 0.3);
    margin-top: 10px;
    width: 60%;
    height: 300px; 
}

.blue {
    color: blue;
}

.red {
    color: #ec1710;
}

.black {
    color: black;
}

.text {   
    padding: 20px;
    color: #fff;
}

.time {
    color: #fff;
    overflow: auto;
    border-bottom: 1px solid #fff;
}

.time-text {
    float: right;
    padding-right: 10px;
}